@page
@model IndexModel
@{
    ViewData["Title"] = "Sobre Nós";
}

<div class="text-center">
    <img class="image-cover" src="/images/Cover.jpg" />
    <h1 class="display-4">PokeCentro Pokémon!</h1>
    <p>Bem-vindo à nossa página "Quem Somos" no Centro Pokémon! Somos apaixonados por Pokémon e estamos dedicados a criar um ambiente acolhedor e empolgante para todos os treinadores e fãs. Nossa equipe é formada por especialistas em Pokémon, desde treinadores experientes até pesquisadores dedicados.</p>
    <p>No Centro Pokémon, buscamos promover a amizade, o aprendizado e a diversão. Oferecemos uma variedade de serviços, desde batalhas Pokémon empolgantes até eventos especiais e informações atualizadas sobre o universo Pokémon. Nosso compromisso é ser o ponto de encontro definitivo para a comunidade Pokémon, onde cada treinador se sente em casa.</p>
    <p>Além disso, nos esforçamos para manter um ambiente inclusivo e amigável, onde todos os tipos de treinadores, novatos e veteranos, podem compartilhar sua paixão por Pokémon. Explore nosso site, participe de nossas atividades e junte-se a nós na jornada emocionante do mundo Pokémon no Centro Pokémon. Estamos ansiosos para embarcar nessa aventura junto com você!</p>
</div>
