@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Bem-vindo à nossa página de Política de Privacidade Pokémon. Valorizamos a jornada compartilhada com treinadores como você e entendemos a importância de proteger as informações que você nos confia. Ao explorar nosso universo Pokémon, saiba que estamos empenhados em salvaguardar a privacidade dos seus dados. Coletamos apenas as informações essenciais para oferecer uma experiência envolvente, como seu nome de treinador e preferências de jogo. Comprometemo-nos a manter a confidencialidade desses dados, assegurando que sua aventura seja não apenas emocionante, mas também segura. Para obter mais informações sobre como tratamos seus dados enquanto você se torna um mestre Pokémon, consulte nossa Política de Privacidade detalhada. Estamos aqui para garantir que sua jornada seja protegida e memorável. Se tiver alguma dúvida, não hesite em nos contatar. Agradecemos por embarcar nessa jornada conosco.</p>
